<div class="w-50 mx-auto" style="margin-top: 80px;">
    <form id="loginForm">
    <div class="mb-3">
        <label for="loginUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="loginUsername" required>
    </div>
    <div class="mb-3">
        <label for="loginPass" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPass" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <a href="#register" class="d-block mt-4 me-auto">Don`t have an account yet? Sign up here!</a>
    <div class="alert alert-danger" style="margin-top: 20px;" role="alert">
        Authentication failed!
    </div>
</div>
